POSTGRES_DB=sonar_db
POSTGRES_USER=sonar
POSTGRES_PASSWORD=CAMBIA_ESTA_PASSWORD_SEGURA

SONAR_JDBC_URL=jdbc:postgresql://sonarqube_db:5432/sonar_db
SONAR_JDBC_USERNAME=sonar
SONAR_JDBC_PASSWORD=CAMBIA_ESTA_PASSWORD_SEGURA
